.cs{
    width: 100%;
    height: 89vh;
    background: url(https://wallpapers.com/images/hd/counterstrike-3lourqobllt98xdr.jpg) no-repeat center/cover;
}
.dark_second{
    width: 100%;
    height: 89vh;
    background-color: rgba(0, 0, 0, 0.549);
}
.dark_second h1{
    font-size: 45px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 157);
    margin-bottom: 10px;
}
.dark_second p{
    font-size: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 157);
}
.cs_box{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.filter{
    margin-top: 20px;
}
.hr{
    width: 98%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7px;
    border: 1px solid rgb(255, 255, 157);
    border-radius: 10px;
    margin: auto;
    margin-bottom: 20px;
}
.hr_hr{
    width: 90%;
    height: 2px;
    border-radius: 50%;
    background-color: rgb(255, 255, 157);
}
.hr button {
    width: 120px;
    height: 35px;
    background-color: rgb(255, 255, 157);
    color: #222;
    border: none;
    outline: none;
    border-radius: 8px;
}
.cs_cards{
    width: 98%;
    margin: auto;
    border-radius: 10px;
    overflow: hidden;
    background-color: rgb(255, 255, 157);
    padding: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
}
.cs_card{
    width: 49%;
    /* min-height: 10vh; */
    margin-bottom: 20px;
    border-radius: 10px;
    margin-left: 10px;
    overflow: hidden;
}
.cs_card img{
    width: 100%;
    height: 420px;
    object-fit: cover;
}
.cs_card p{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cs_card p button{
    width: 120px;
    height: 35px;
    border: none;
    outline: none;
    border-radius: 8px;
    background-color: #222;
    color: rgb(255, 255, 157);
    transition: .3s;
}
.cs_card p button:hover{
    background-color: rgb(255, 255, 157);
    color: #222;
    cursor: pointer;
    border: 1px solid #222;
}
.second button{
    width: 300px;
}
.second .hr_hr{
    width: 75%;
}